
Library/
Logs/
UserSettings/
obj/
Temp/
.vs/
.vsconfig
*.csproj
*.sln

Assets/EmaceArt/LowPolyNatureProject - EA04 Tiny Forest/Scene/TerrainData_A/Terrain_FacetedChunks.asset
Assets/EmaceArt/LowPolyNatureProject - EA04 Tiny Forest/Scene/TerrainData_A/Terrain_FacetedChunks.meta
Assets/EmaceArt/LowPolyNatureProject - EA04 Tiny Forest/Scene/Demo_1.unity
Assets/EmaceArt/LowPolyNatureProject - EA04 Tiny Forest/Scene/Demo_1.unity.meta
